/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";

@theme {
  --color-problue: #3d5a80;
  --color-prolightblue: #98c1d9;
  --color-prowhiteblue: #e0fbfc;
  --color-prohighlight: #ee6c4d;
  --color-prodarkblue: #293241;
  --color-prooffwhite: #f2f0ef;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  background-color: var(--color-prooffwhite);
  color: var(--color-prodarkblue);
}




/* utility classes */
.shadowCustom {
	/* background-color: var(--color-prooffwhite); */
  box-shadow: 0px 10px 15px -15px var(--color-prodarkblue);
}

button:disabled,
button[disabled]{
  opacity: 50%;
  cursor: default;
}

.error {
  border: 1px solid var(--color-prohighlight);
}

.hoverOption {
  background-color: #f3f4f6; /* this is tailwinds bg-gray-100 */
  color: var(--color-problue);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.gradient-fade {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}


/* Set dark mode for the body */
@media (prefers-color-scheme: dark) {
  body {
    /* background-color: #111827; gray0900*/
    background-color: #030712; /* gray-950 */
    color: #f3f4f6;
  }
}

@custom-variant dark (&:where(.dark, .dark *));